body{
	background-color: #062863;
	font-family:sans-serif; 
	text-decoration: none;
	outline: none;
}
#piggy{
	color: white;
	  margin:2% auto;
}


.secure{
	color: #1c3e7b;
	font-size: 24px;
	margin: 15px;
}

.welcome{
	color: #82a3ce;
	font-size: 15px;
	margin-top: 5px;
}

.A{
	text-align: left;
	font-size: 14px;
	color: #062863;
}
.Account{
	font-family: sans-serif;
	font-size: 30px;
 color: black;
 background-color: white;
  width:320px;
  background:#fff;
  padding:20px 50px;
  margin:1% auto;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  height: 700px;
}

.input-box{
	width: 280px;
	padding: 15px;
	margin: 5px 0;
	color: #eee;
	background-color: #f4f4f4;
	border:none;
}

.button{
	width: 275px;
	padding: 10px;
	margin: 8% auto;
	text-align: center;
	font-size: 20px;
	border:none;
	background-color:#062863;
    color: white;
}


h4{
	color: white;
	text-align: center;
	margin:0;
	padding: 5px;
}
